<section id="todos">
  <header>
    <h2>Editing <%= @list_name %></h2>
    <ul>
      <li>
        <form class="delete" action="/lists/<%= @index %>/destroy" method="post">
          <button type="submit" class="delete">
            Delete list
          </button>
        </form>
      </li>
    </ul>
  </header>
</section>


<form action="/lists/<%= @index %>" method="post">
  <dl>
    <dt>
      <label for="1ist_name">Edit the list:</label>
    </dt>
    <dd>
      <input name="list_name" type="text" value="<%= @list_name %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @index %>">Cancel</a>
  </fieldset>
</form>
