

<section id="todos" class="<%=class_complete?(@list_index) %>" >
  <header>
    <h2> <%= @list_name %></h2>
    <ul>
      <li>  <!-- Form for Complete All button -->
        <form action="/lists/<%= @list_index %>/complete" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li> <!-- Link to edit list -->
        <a class="edit" href="/lists/<%=@list_index%>/edit">Edit list</a>
      </li>
    </ul>
  </header>

  <!-- List of todo items -->
  <ul>
    <% sorted_todos(@list_index) do |todo, index| %>
      <% if todo[:completed]%>
        <li class="complete">
      <% else %>
        <li>
      <% end %>
          <form action="/lists/<%= @list_index %>/todos/<%= index %>" method="post" class="check">
            <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
            <button type="submit">Complete</button>
          </form>

          <h3><%= todo[:name] %></h3>
          
          <form class="delete" action="/lists/<%= @list_index%>/todos/<%= index %>/destroy" method="post">
            <button type="submit">Delete</button>
          </form>

        </li>
    <% end %>
  </ul>
</section>

<!-- Form to add todo item -->
<form action="/lists/<%= @list_index %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= @text %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <div class="actions">
    <a class="list" href="/lists">All lists</a>
  </div>
<% end %>
